#center {
	position: relative;
	visibility: visible;
	top: 100px;
	margin: auto;
	width: 50%;
	padding : 50px;

}
#google_image {
	display: block;
	margin: auto;
	width: 272;
	height: 92;
	padding-bottom: 25px;
}

img {
	display: block;
	margin: auto;

}

#box{
	/*width: 400px;
	margin: auto;*/
}

input[type=text] {
	display: block;
	width: 475px;
	margin: auto;
	border-style: solid;
	border-width: 1px;
	height: 35px;
	box-shadow: 0 2px 0 #eaecef;
}

input[type=submit] {
	border-style: solid;
	height: 40px;
}

#buttons {
	display: block;
	margin: auto;
	text-align: center;
	/*width: 400px;*/
	/*margin: auto;
	border: 1px solid black;*/
}

li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
}

li {
	float: right;
	font-size: 12px;
	font-family: sans-serif;
	/*display: inline;*/
}

#footer {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 50px;
	width: 100%;
	overflow: hidden;
	background-color: #e6e8ed;
}


