#center {
	position: relative;
	visibility: visible;
	top: 200px;
	margin: auto;
	width: 20%;
	
	padding : 50px;

}
#google_image {

	width: 272;
	height: 92;
}

#box{
	
}

#buttons {
	
}



li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
}

li {
	float: right;
	font-size: 12px;
	font-family: sans-serif;
	/*display: inline;*/
}

#footer {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 50px;
	width: 100%;
	overflow: hidden;
	background-color: #e6e8ed;
}


